<html lang="en">
<head>
<title>new user</title>
</head>
<body bgcolor="#DDE1E1">
<header style="background-image: url({{url_for('static', filename='hotel21.jpg')}});background-size: cover;  min-height: 100px; color:white; font-size: 40px">
        <center>
        <h1>Hotel</h1>
        </center>
</header>
        <form action="#" method="post">
    <label for="origin"><b>Date</b></label>
    <p><input type="text" placeholder="Date" name="date" required>
       <input type="text" placeholder="Month" name="month" required>
       <input type="text" placeholder="Year" name="year" required>
    <p><label for="dest"><b>Number of Rooms</b></label>
    <p><input type="text" name="rooms" required>
    <p><input type="submit" value="Go">   
        </center>
        </div>
        </form>
</body>
</html>
