<html lang="en">
<head>
<title>login success</title>
</head>
<body bgcolor="#DDE1E1">
<header style="background-image: url({{url_for('static', filename='bg2.jpg')}});background-size: cover;  min-height: 100px; color:white; font-size: 40px">
        <center>
        <h1>Home</h1>
        </center>
</header>
<center>
	<br>
	<br>
	<p><button onclick="window.location.href = '/hotel';">Book Hotel</button>
	<button onclick="window.location.href = '/flight';">Book Flight</button>
	<button onclick="window.location.href = '/track';">Track Booking </button></p>
	<button onclick="window.location.href = '/plan';">Surprise Me </button></p>
	<button onclick="window.location.href = '/userbooking';">User booking </button></p>
</center>

</body>
</html>
