<html lang="en">
<head>
<title>new user</title>
</head>
<body bgcolor="#DDE1E1">
<header style="background-image: url({{url_for('static', filename='travel.jpg')}});background-size: cover;  min-height: 100px; color:white; font-size: 40px">
        <center>
        <h1>New user</h1>
        </center>
</header>
        <form action="#" method="post">
        <div class="container">
        <center>
        <p><label for="name"><b>Name</b></label>
        <input type="text" name="name" required></p>
        <p><label for="uname"><b>Username</b></label>
        <input type="text" name="uname" required></p>
        <p><label for="email"><b>Email ID</b></label>
        <input type="email" name="email" required></p>
        <p><label for="psw"><b>Password</b></label>
        <input type="password" name="psw" required></p>
        <p><input type="submit" value="Submit">
        </center>
        </div>
        </form>
</body>
</html>
